/**
 * reset.scss
 * author: xn213
 */

html, body, div, span,
h2, h3, h4,
p, a, img, i, sup, sub,
ol, ul, li,
fieldset, form, input, label, legend, button, textarea,
article, aside, header, section, footer, figure, nav, menu, hgroup,
time, audio, video {
  margin: 0;
  padding: 0;
}
html, body {
  width: 100%;
  height: 100%;
}
ul, ol, li {
  list-style: none;
}
a {
  text-decoration: none;
}